.hero-home {
  color: #00557A;
}

.level-hero  {
  .heading {
    color: inherit;
  }

  &.hero-home .btn {
    min-width: 90px;
  }
}

.heading-top {
  margin-top: 30px !important;
}

.content-footer {
  margin-top: 700px;

  a.btn-register-campus {
    background-color: #F4342E;
    color: white;
  }

  a.btn-register-campus:hover {
    color: lightgrey;
  }

  p {
    color: #0A4863;
    font-weight: bold;
  }
}

// Tabs
.nav {
  margin: 0 auto;
  display: table;

  li {
    margin: 10px 80px;
    width: 100px;

    a {
      background-color: white;

      &:hover,
      &:focus {
        background-color: #00557A;
        color: white;
      }
    }
  }
}

.nav-pills {
  li.active {
    a,
    a:hover,
    a:focus  {
      color: white;
      background-color: #00557A;
    }
  }
}

// Tablets
@media (max-width: 767px) {
  .nav {
    li {
      margin: 10px 60px;

    }
  }
}

// Phones
@media (max-width: 320px) {
  h1 {

  }

  .nav {
    li {
      margin: 10px 60px;

    }
  }
}



