<div class="level level-hero hero-home has-hint text-center">

  <div class="container full-height">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="mb-10 heading heading-top">CURSOS DE CABALÁ</h1>
        <div class="subheading mb-20">una experiencia que cambiara tu vida, y es otorgada por la propia naturaleza</div>
      </div>
    </div>
  </div>

  <div class="container content-body">
    <tabset type="pills">
      <tab class="" heading="Info">Info</tab>
      <tab class="" heading="Detalle">
        <b>Catálogo del curso</b>
        El Catálogo del curso provee una breve descripción de los cursos ofrecidos por el Centro de Estudios, incluyendo los prerrequisitos, fechas y horas en las que se ofrece el curso, y los textos que se usan durante el curso.

        <b>Estructura del Curso</b>
        La Estructura del curso provee un plan de los temas claves que se cubrirán en cada curso.

        <b>Servicios Estudiantiles</b>
        El Centro de Estudios ofrece mucho más que clases en vivo. Pueden conocer más sobre algunos de los otros servicios, tales como el Foro Estudiantil, la Librería de Cabalá, y Convenciones de Cabalá aquí.

        <b>Registro</b>
        El primer paso para accesar a todo lo que ofrece el Centro de Estudios es el registro. Una vez registrados podrán inscribirse a los cursos, accesar al programa de Auto-estudio y participar en el Foro Estudiantil una vez iniciados los cursos
      </tab>
      <tab class="" heading="Registro" active="true">
        <div class="content-form row">
          <form name="vm.formRegistration" class="contact" ng-submit="vm.submit(vm.student)">

            <div class="form-group">
              <label for="firstName" class="col-xs-4 control-label">Nombre <span class="require">*</span></label>
              <div class="col-xs-8">
                <input ng-model="vm.student.firstName" type="text" class="form-control" id="firstName" placeholder="Nombres" required>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-xs-4 control-label">Apellido <span class="require">*</span></label>
              <div class="col-xs-8">
                <input ng-model="vm.student.lastName" type="text" class="form-control" id="lastName" placeholder="Apellidos" required>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-xs-4 control-label control-one-line">Correo Electrónico <span class="require">*</span></label>
              <div class="col-xs-8">
                <input ng-model="vm.student.email" type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">País <span class="require">*</span></label>
              <div class="col-xs-8">
                <select class="form-control" ng-options="country.code as country.name for country in vm.countries" ng-model="vm.student.country" required>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Ciudad <span class="require">*</span></label>
              <div class="col-xs-8">
                <select class="form-control" ng-options="city.id as city.name for city in vm.cities | filter:{country:vm.student.country}" ng-model="vm.student.city" ng-disabled="!vm.student.country" required>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="h2 mb-20 col-xs-12">
                <button type="submit" class="btn btn-register-campus">Registrate Gratis</button>
              </div>

            </div>

          </form>

        </div>

      </tab>
    </tabset>
  </div>

  <div class="container content-footer text-center">

    <p class="mb-35 subheading">AHORA ES EL MOMENTO MAS SIGNIFICATIVO DE TU VIDA ....SI TÚ LO PERMITES</p>

  </div>
</div>

