<div class="level level-hero hero-home has-hint text-center">

  <div class="container full-height">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="mb-10 heading heading-top">CURSOS DE CABALÁ</h1>
        <div class="subheading mb-20">una experiencia que cambiara tu vida, y es otorgada por la propia naturaleza</div>
      </div>
    </div>
  </div>

  <div class="container content-body">
    <tabset type="pills" tabs-controller>
      <tab ng-model="vm.tabs" class="hidden" heading="Inicio">
        <div class="content-container content-container-transparent">
          <button ng-click="vm.tabsController.activate(3)" type="button" class="btn btn-register-campus bg-orange-gradient">Regístrate Gratis</button>
        </div>
      </tab>
      <tab class="" heading="¿Qué obtendrás?">
        <div class="content-container">
          <div class="row">
            <h3 class="col-xs-12 mb-20">Lo que obtendrás de este curso</h3>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-6 photos-courses">
                  <img src="images/curso1.jpg" alt=""/>
                  <img src="images/curso2.jpg" alt=""/>
                  <!--<img src="images/curso3.jpg" alt=""/>-->
                </div>
                <div class="col-xs-6 text-left">
                  <ul>
                    <li>
                      Una base firme en la metodología auténtica de la Cabalá.
                    </li>
                    <li>
                      Una comprensión profunda de la naturaleza, el mundo y acerca de quién eres realmente.
                    </li>
                    <li>
                      Herramientas prácticas para desarrollar una nueva perspectiva acerca del mundo que nos rodea.
                    </li>
                    <li>
                      Toma de conciencia de la fuente de los problemas personales y de los problemas sociales.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="content-container">
                <div class="row">
                  <h3 class="col-xs-12 mb-20">3 Principios cabalísticos en relación al curso:</h3>
                </div>
                <div class="row text-left">
                  <ul>
                    <li>
                      Avanzas a tu propio ritmo.
                    </li>
                    <li>
                      Tu propio deseo te conducirá a las respuestas que buscas.
                    </li>
                    <li>
                      Este estudio esta abierto para cualquiera que desee estudiar.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-container content-container-transparent">
          <button ng-click="vm.tabsController.activate(3)" type="button" class="btn btn-register-campus bg-orange-gradient">Regístrate Gratis</button>
        </div>
      </tab>
      <tab class="" heading="¿Qué es el curso?" >
        <div class="content-container row">
          <div class="col-xs-12 text-left mb-25">
            <ul>
              <li>
                10 semanas de clases de fundamentos de la Sabiduría de la Cabalá (1 clase por semana).
              </li>
              <li>
                La posibilidad de hacer preguntas a los instructores durante las clases.
              </li>
              <li>
                Obtendrás materiales de estudio del curso.
              </li>
            </ul>
          </div>
          <div class="col-xs-12 text-center mb-25">
            <h3>Fundamentos de la Cabalá</h3>
          </div>
          <div class="col-xs-12 text-left mb-25">
            <p>
              El curso de Fundamentos de la Cabalá es un enfoque único y dual para enseñar actividades tanto de la mente como del corazón. Las lecciones de Artículos guían por un viaje personal de descubrimiento mientras se examinan respuestas a los escritos de los más grandes Cabalistas de nuestro tiempo. En contraste, las lecciones sobre la Estructura de la Creación nos proveen un plano de la espiritualidad, mostrándonos lo que cada Cabalista ha encontrado al entrar al mundo que llamamos la "espiritualidad"
            </p>
          </div>
          <div class="col-xs-12 text-left underline mb-10">
            <h5>
              Lecciones de Artículos
            </h5>
          </div>
          <div class="col-xs-12 text-left mb-25">
            <ul>
              <li>
                ¿Qué es la Cabalá?
              </li>
              <li>
                El Propósito del Alma
              </li>
              <li>
                La Razón del Sufrimiento
              </li>
              <li>
                Cimientos de la Espiritualidad
              </li>
              <li>
                Creatura y Creador
              </li>
              <li>
                ¿En Beneficio de Quien Actúo?
              </li>
              <li>
                Libertad de lección
              </li>
              <li>
                Fe por Encima de la Razón
              </li>
              <li>
                Revelación y Ocultamiento
              </li>
              <li>
                El Proceso de la Cabalá
              </li>
              <li>
                Ama al Prójimo como a Ti Mismo
              </li>
            </ul>
          </div>
          <div class="col-xs-12 text-left underline mb-10">
            <h5>
              Lecciones de La Estructura de la Creación
            </h5>
          </div>
          <div class="col-xs-12 text-left mb-25">
            <ul>
              <li>
                Las Cuatro Fases de la Creación
              </li>
              <li>
                La Vasija y el Partzuf
              </li>
              <li>
                El Mundo de la Restricción
              </li>
              <li>
                El Mundo de Adam Kadmon
              </li>
              <li>
                Partzuf Nekudot de SAG
              </li>
              <li>
                El Mundo de Nekudim
              </li>
              <li>
                El Rompimiento de las Vasijas
              </li>
              <li>
                El Mundo de Atzilut
              </li>
              <li>
                Atzilut y BYA
              </li>
              <li>
                La Corrección of Adam
              </li>
            </ul>
          </div>
        </div>
        <div class="content-container content-container-transparent">
          <button ng-click="vm.tabsController.activate(3)" type="button" class="btn btn-register-campus bg-orange-gradient">Regístrate Gratis</button>
        </div>
      </tab>
      <tab class="hidden" heading="Form">
        <div class="content-container">
          <div class="">
            <p class="text-left col-xs-12">
              Para completar tu registro en el curso, llena el formulario con tus datos y presionar el "Regístrate Gratis"
            </p>
          </div>
          <div class="row">
            <form name="vm.formRegistration" class="contact col-xs-12" ng-submit="vm.submit(vm.student)">

              <div class="form-group">
                <label for="firstName" class="col-xs-4 control-label">Nombre <span class="require">*</span></label>
                <div class="col-xs-8">
                  <input ng-model="vm.student.firstName" type="text" class="form-control" id="firstName" placeholder="Nombres" required>
                </div>
              </div>
              <div class="form-group">
                <label for="lastName" class="col-xs-4 control-label">Apellido <span class="require">*</span></label>
                <div class="col-xs-8">
                  <input ng-model="vm.student.lastName" type="text" class="form-control" id="lastName" placeholder="Apellidos" required>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-xs-4 control-label control-one-line">Correo Electrónico <span class="require">*</span></label>
                <div class="col-xs-8">
                  <input ng-model="vm.student.email" type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">País <span class="require">*</span></label>
                <div class="col-xs-8">
                  <select class="form-control" ng-options="country.code as country.name for country in vm.countries" ng-model="vm.student.country" required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">Ciudad <span class="require">*</span></label>
                <div class="col-xs-8">
                  <select class="form-control" ng-options="city.id as city.name for city in vm.cities | filter:{country:vm.student.country}" ng-model="vm.student.city" ng-disabled="!vm.student.country" required>
                    <option></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-20 col-xs-12">
                  <button type="submit" class="btn btn-register-campus bg-orange-gradient">Regístrate Gratis</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </tab>
      <tab class="hidden" heading="About">
        <div class="content-container row">
          <div class="mb-25 text-center">
            <h3>
              Sobre Bnei Baruj
            </h3>
          </div>
          <div class="text-left">
            <p class="mb-10">
              Bnei Baruj es el mayor grupo de cabalistas en Israel, compartiendo la sabiduría de la Cabalá con el mundo entero.
            </p>
            <p class="mb-10">
              Los materiales de estudio se distribuyen en 25 idiomas y están basados en textos de Cabalá auténtica que han sido transmitidos de generación en generación.
            </p>
            <p>
              Para mayor información visite <a class="underline" href="http://www.kabbalah.info/es" target="_blank">http://www.kabbalah.info/es</a>
            </p>
          </div>
        </div>
      </tab>
    </tabset>
  </div>

  <div class="container content-footer text-center">
    <p class="mb-15 subheading">AHORA ES EL MOMENTO MAS SIGNIFICATIVO DE TU VIDA ....SI TÚ LO PERMITES</p>
    <img class="logo-bb" ng-click="vm.tabsController.activate(4)" src="images/logo-bb.png" alt="Bnei Baruch Latino America"/>
  </div>
</div>

