
<div class="level level-hero hero-home has-hint">


  <div class="hero-overlay visible-lg"></div>

  <div class="container full-height">
    <div class="v-align-parent">
      <div class="v-center text-center">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="mb-10 heading heading-top">CURSOS DE CABALÁ</h1>
            <div class="subheading mb-20">una experiencia que cambiara tu vida, y es otorgada por la propia naturaleza</div>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
              <div class="col-xs-3">
                <a class="btn text-center" href="#">
                  Info
                </a>
              </div>
              <div class="col-xs-3">
                <a class="btn " href="#">
                  Detalles
                </a>
              </div>
              <div class="col-xs-3">
                <a class="btn text-center" href="#">
                  Registro
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container content-footer text-center">

    <form class=contact method=get action="/" accept-charset="UTF-8">

      <div class="h2 mb-20">
        <a class="btn btn-launch-video" href="#">
          Registrate
        </a>
      </div>
      <p class="mb-35">AHORA ES EL MOMENTO MAS SIGNIFICATIVO DE TU VIDA ....SI TÚ LO PERMITES</p>


    </form>
  </div>
</div>

